:root {
  --primary-cyan: hsl(158, 36%, 37%);
  --primary-cream: hsl(30, 38%, 92%);
  --accent-dark-blue: hsl(212, 21%, 14%);
  --accent-grayish-blue: hsl(228, 12%, 48%);
  --accent-white: hsl(0, 0%, 100%);

  --primary-cyan-darker: hsl(158, 36%, 30%);
}
